@mixin Shrikhand {
    font-family: 'Shrikhand', cursive;
}

@mixin loader {
    display: flex;
    justify-content: center;
    .lds-ellipsis {
        display: inline-block;
        position: fixed;
        top: 9%;
        width: 100%;
        max-width: 400px;
        z-index: 99;
        animation: fade-out (1.5 * $anim-time) $loading-time ease-out both;
        & div {
            position: absolute;
            top: 30vh;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
            &:nth-child(1) {
                left: 25%;
                animation: lds-ellipsis1 0.6s 4;
                background: $color-secondary;
            }
            &:nth-child(2) {
                left: 25%;
                animation: lds-ellipsis2 0.6s 4;
                background: $bg-gradient;
            }
            &:nth-child(3) {
                left: 45%;
                animation: lds-ellipsis2 0.6s 4;
                background: $bg-gradient;
            }
            &:nth-child(4) {
                left: 65%;
                animation: lds-ellipsis3 0.6s 4;
                background: $color-primary;
            }
        }
    }
}


/* linear-gradient applyied to main button */

@mixin btn-gradient {
    text-align: center;
    margin: 8vw 0 15vw 0;
    padding: 0.75em 0.5em;
    border: none;
    outline: none;
    background: $bg-gradient;
    width: 60%;
    max-width: 12em;
    height: 100%;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    @media screen and (min-width: 400px) {
        margin: 4vw 0;
    }
}


/* main features of numbers within Fonctionnement part */

@mixin number-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 1em;
    width: 1em;
    color: white;
    border-radius: 50%;
    background-color: $color-primary;
    padding: 1vw;
}

@mixin hover-btn($color) {
    background: lighten($color, $amount: 10%);
    box-shadow: $shadow-size-l $bg-darkgrey;
    transform: scale(1.001);
}

@mixin darken($color: $color-primary) {
    color: darken($color, $amount: 30%);
}

@mixin box-shadow($shadow-size) {
    box-shadow: $shadow-size $bg-darkgrey;
}

@mixin new-tag {
    position: absolute;
    z-index: 3;
    @include darken($color-tertiary);
    width: 15vw;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    padding: 1vw;
    border-radius: 3px;
}

@mixin card-img {
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    /* The image keeps its aspect ratio and fills the given dimension. The image will be clipped to fit */
}

@mixin heart {
    position: absolute;
    cursor: pointer;
    /* keep only the path (outline) of the heart */
    fill: transparent;
    /* color and thickness of the heart outline */
    stroke: black;
    stroke-width: 20;
    z-index: 1;
    svg {
        /* make the heart fully visible and not cropped at all */
        overflow: visible;
        width: 1.4rem;
    }
    path {
        /*total of heart line visible before animation = 100% */
        stroke-dashoffset: 0;
        /*total of heart line to complete within the anilation = 100% */
        stroke-dasharray: 1550;
        /* center the anmation to pump up from the center not offset */
        transform-origin: center;
    }
    .heart-background {
        /* make both heart one above each other */
        position: absolute;
        left: 0;
        bottom: 4px;
        /* this heart behind */
        z-index: -1;
        /* keep it invisible without animation */
        transform-origin: right 40%;
        transform: scale(1);
        opacity: 1;
        overflow: hidden;
        font-size: 1.4rem;
        color: transparent;
    }
    .toggle-heart:hover {
        cursor: pointer;
        /* while hovering the transparent checkbox above, modify the heart-main path */
        &~.heart-main path {
            animation: stroke-animation 3 * $anim-time ease-in-out forwards;
        }
    }
    /* while checking the box, modify the heart-background filling */
    .toggle-heart:checked {
        &~.heart-background {
            animation: fill $anim-time $anim-delay ease-in-out both;
        }
    }
}