$color-primary: #9356DC;
$color-primary-light: lighten($color-primary, 30%);
$color-secondary: #FF79DA;
$color-secondary-light: lighten($color-secondary, 30%);
$color-tertiary: #99E2D0;
$bg-gradient: linear-gradient($color-secondary, $color-primary);
$bg-darkgrey:#eaeaea;
$bg-lightgrey: #f6f6f6;
$bg-lightblack: #363636;
$small-radius: 15px;
$medium-radius: 20px;
$large-radius: 50px;
$shadow-size-s: 0px 8px 15px -5px;
$shadow-size-m: 0px 5px 10px 2px;
.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-tertiary {
    background: $color-tertiary;
}

#gradient-vertical {
    --color-stop-1: $color-secondary-light;
    --color-stop-2: $color-primary-light;
}

.bg--darkgrey {
    background-color: $bg-darkgrey;
}

.bg--lightgrey {
    background-color: $bg-lightgrey;
}

.bg--lightblack {
    background-color: $bg-lightblack;
}

.btn--rounded {
    border-radius: $large-radius;
}

.btn--squared {
    border-radius: $medium-radius;
}

.card--squared {
    border-radius: $small-radius;
}