$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bg-darkgrey:#eaeaea;
$bg-lightgrey: #f6f6f6;
$bg-lightblack: #363636;
.btn--linear-gradient {
    background: linear-gradient($color-secondary, $color-primary);
}

.bg-mainclr-light {
    background: lighten($color-secondary, 50%);
}

.new-Tag {
    background: $color-tertiary;
}

.color-primary {
    color: $color-primary;
}

.bg-darkgrey {
    background-color: $bg-darkgrey;
}

.bg-lightgrey {
    background-color: $bg-lightgrey;
}

.bg-lightblack {
    background-color: $bg-lightblack;
}

$small-radius: 15px;
$medium-radius: 20px;
$large-radius: 50px;
$small-shadow: 0px 8px 15px -5px;
$medium-shadow: 0px 5px 10px 2px;