body {
    font: 100 16px 'Roboto', sans-serif;
    margin: auto;
    height: 100vh;
}

.typo.main {
    @include Shrikhand;
}

h4 {
    font-size: 18px;
}

a {
    text-decoration: inherit;
    cursor: pointer;
    color: black;
}