.loader {
    @include loader;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $bg-darkgrey;
    position: relative;
    overflow: hidden;
    width: 100%;
    &__main {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        width: 45%;
        max-width: 250px;
        margin: 1vw 0;
        i {
            position: absolute;
            left: 0;
        }
        &:active {
            border-bottom: 2px solid $bg-lightgrey;
        }
    }
    #toggle {
        &:hover {
            cursor: pointer;
        }
        &:checked {
            &~.location__form {
                animation: translateY $anim-time both;
                z-index: 2;
            }
        }
    }
}

.visually-hidden {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 70vh;
    span {
        width: 65vw;
        margin: 10vw 0 5vw 0;
        font-size: 1.5rem;
        font-weight: 700;
        @media screen and (min-width: 400px) {
            margin: 4vw 0;
        }
    }
    p {
        font-size: 1.1rem;
        width: 90vw;
        margin: 0;
    }
    .btn {
        @include btn-gradient;
        box-shadow: $shadow-size-m darken($bg-darkgrey, $amount: 20%);
        &:hover {
            background: $bg-gradient-light;
            box-shadow: $shadow-size-m darken($bg-darkgrey, $amount: 40%);
        }
    }
}

.fonctionnement {
    @media screen and (min-width: 728px) {
        h1 {
            padding: 0 4vw;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        @media screen and (min-width: 728px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            width: 95%;
            margin: auto;
        }
        &__step {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 80%;
            max-width: 450px;
            margin: 1vw 0 5vw 0;
            padding: 2vw;
            @include box-shadow($shadow-size-m);
            @media screen and (min-width: 728px) {
                height: 3em;
                width: 83%;
                padding: 1vw;
                justify-items: center;
                &:nth-child(1) {
                    grid-column: 1 / 2;
                }
                &:nth-child(2) {
                    grid-column: 2 / 3;
                }
                &:nth-child(3) {
                    grid-column: 3 / 4;
                }
            }
            p {
                text-align: start;
                margin-left: 25%;
                width: 80%;
                font-weight: 400;
                @media screen and (min-width: 728px) {
                    text-align: center;
                    margin-left: 15%;
                    width: 100%;
                }
            }
            i {
                position: absolute;
                left: 15%;
                font-size: 1.2rem;
                @media screen and (min-width: 728px) {
                    left: 12%;
                    font-size: 1rem;
                }
            }
            .icon-nb {
                position: absolute;
                @include number-ul;
                left: -3%;
                @media screen and (min-width: 728px) {
                    left: -6%;
                }
            }
            .fa-mobile-alt,
            .fa-list-ul {
                color: lighten(#000000, 50%);
            }
            &:hover {
                @include hover-btn($bg-lightgrey);
            }
        }
    }
}

.bg--mainclr-light {
    background: lighten($color-primary, 36%);
}

#restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
    h1 {
        @media screen and (min-width: 728px) {
            padding: 0 0 0 4vw;
        }
    }
    .restaurants-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5vw;
        @media screen and (min-width: 728px) {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            justify-items: center;
        }
    }
    .restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        /* position for hearts */
        position: relative;
        height: 15em;
        width: 90%;
        max-width: 600px;
        padding: 3vw 0;
        overflow: hidden;
        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* position for figure, figcaption and tag */
            position: relative;
            background-color: white;
            @include box-shadow($shadow-size-m);
            border-radius: $small-radius;
            height: 15em;
            width: 100%;
            overflow: hidden;
            margin: auto;
            @media screen and (min-width: 728px) {
                &:nth-child(1) {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }
                &:nth-child(1) {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                }
                &:nth-child(1) {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }
                &:nth-child(1) {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
            }
            img {
                @include card-img;
            }
            figcaption {
                height: 15%;
                margin: 0;
                padding: 0.5em 0 2em 1em;
                h4,
                p {
                    margin: 1vw 0;
                }
            }
            &:hover {
                @include hover-btn(white);
            }
        }
        .new-Tag {
            @include new-tag;
            top: 4%;
            right: 4%;
            @media screen and (min-width: 728px) {
                top: 10%;
            }
        }
    }
    .heart-icons {
        @include heart;
        bottom: 15%;
        right: 10%;
        @media screen and (min-width: 728px) {
            bottom: 20%;
        }
    }
    .restaurants,
    .restaurants__card {
        @media screen and (min-width: 1024px) {
            height: 20em;
        }
    }
}