header {
    position: relative;
    i {
        position: absolute;
        left: 7vw;
        top: 5vw;
        font-size: 1.3rem;
    }
}

picture {
    position: relative;
    img {
        @include card-img;
    }
}

.menu__header {
    position: absolute;
    top: 68vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px 50px 0 0;
    padding-top: 2vw;
    .heart-icons {
        @include heart;
        right: 12%;
        top: 55%;
    }
    h1 {
        padding-left: 6vw;
        margin-bottom: 0;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding-top: 5vw;
    .article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 4vw;
        animation: showing-up 400ms both;
        &__title {
            position: relative;
            left: 7vw;
            align-self: flex-start;
            border-bottom: 4px solid $color-tertiary;
            width: 12%;
            margin-bottom: 2vw;
            animation: showing-up 800ms 100ms both;
            h2 {
                /* reduce the space between colored border and the title */
                margin-bottom: 1.5vw;
            }
        }
    }
    @for $i from 1 through 4 {
        .article,
        .menu__option {
            // :nth-child(1-3)
            &:nth-child(#{$i}) {
                // Delay the animation.
                animation-delay: $i * (200ms);
            }
        }
    }
    &__option {
        position: relative;
        border-radius: $small-radius;
        @include box-shadow($shadow-size-l);
        width: 85%;
        padding: 1vw 3vw;
        margin: 2vw 0;
        line-height: 5px;
        overflow: hidden;
        animation: showing-up 800ms 400ms both;
        strong {
            position: absolute;
            right: 7vw;
            bottom: 4vw;
        }
        .icon-bg {
            position: absolute;
            right: 0;
            bottom: -0.3vw;
            background: $color-tertiary;
            transform: translateX(200%);
            border-radius: 0 15px 15px 0;
            padding: 6.5vw 5vw;
            display: none;
            i {
                color: white;
                font-size: 1.4rem;
            }
        }
        &:hover {
            strong {
                animation: translateX 400ms both;
            }
            .icon-bg {
                display: block;
                animation: check 400ms both;
                i {
                    animation: spin 500ms both;
                }
            }
        }
    }
    .btn {
        align-self: center;
        width: 50%;
    }
}