header {
    display: flex;
    flex-direction: column;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 5px -1px $bg-lightblack;
        z-index: 1;
        height: 15vw;
        img {
            width: 45vw;
        }
    }
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5vw 0 10vw 6vw;
    img {
        filter: invert(1);
        width: 30%;
        margin: 2vw 0 5vw 0vw;
    }
    a {
        display: flex;
        justify-content: flex-start;
        text-decoration: inherit;
        cursor: pointer;
        color: white;
        padding: 0vw 0 3vw 0vw;
        font-size: 14px;
        font-weight: 400;
    }
    .fork,
    .hands {
        display: flex;
        justify-content: flex-start;
        position: relative;
        padding-left: 7vw;
        svg {
            position: absolute;
            left: 0;
            font-size: 0.9rem;
        }
    }
}