body {
    font: 100 16px 'Roboto', sans-serif;
    margin: auto;
    min-height: 100vh;
    /* For footer positionning */
    width: 100%;
}

.loader__opacity {
    /* whiten all the page to show only the loader */
    animation: fade-in $loading-time ease-out;
}

#page {
    /* footer height */
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 5px -4px $bg-lightblack;
        height: 4em;
        @media screen and (min-width: 400px) {
            height: 7em;
        }
        img {
            width: 45vw;
            max-width: 300px;
        }
    }
}

#footer {
    position: static;
    /* keep footer at the bottom */
    bottom: 0;
    /* fill the padding-bottom form .page */
    height: 13em;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    img {
        filter: invert(1);
        width: 50%;
        padding: 1.2em;
    }
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 1.2em;
        a {
            text-decoration: inherit;
            cursor: pointer;
            color: white;
            padding-bottom: 1.2em;
            font-size: 14px;
            font-weight: 400;
        }
        .fork,
        .hands {
            display: flex;
            justify-content: flex-start;
            position: relative;
            padding-left: 2.2em;
            i {
                position: absolute;
                left: 0;
                font-size: 0.9rem;
            }
        }
    }
}