body {
    font: 100 16px 'Roboto', sans-serif;
    margin: auto;
    min-height: 100vh;
    max-width: 1024px;
    /* For footer positionning */
    width: 100%;
    position: relative;
}

.loader__opacity {
    /* whiten all the page to show only the loader */
    animation: fade-in $loading-time ease-out;
}

#page {
    position: relative;
    /* footer height */
    padding-bottom: 45%;
}

header {
    display: flex;
    flex-direction: column;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px -8px $bg-lightblack;
        z-index: 1;
        height: 15vw;
        img {
            width: 45vw;
        }
    }
}

#footer {
    position: absolute;
    /* keep footer at the bottom */
    bottom: 0;
    /* fill the padding-bottom form .page */
    height: 8%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8vw 0 10vw 0;
    img {
        filter: invert(1);
        width: 30%;
        margin: 1vw 0;
    }
    a {
        text-decoration: inherit;
        cursor: pointer;
        color: white;
        padding-bottom: 3vw;
        font-size: 14px;
        font-weight: 400;
        padding-left: 4vw;
    }
    .fork,
    .hands {
        display: flex;
        justify-content: flex-start;
        position: relative;
        padding-left: 3vw;
        i {
            position: absolute;
            left: 4vw;
            font-size: 0.9rem;
        }
    }
}