.location__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    position: absolute;
    transform: translateY(150%);
    input {
        background-color: $bg-darkgrey;
        color: black;
        font-size: 1rem;
        font-weight: 400;
        border: 3px solid $bg-lightgrey;
        border-radius: 10px 0 0 10px;
        padding: 1.5vw 0vw;
        cursor: pointer;
        outline: none;
        width: 100%;
        &:focus {
            color: white;
            background-color: $bg-lightblack;
            padding-left: 2vw;
            &::placeholder {
                color: transparent;
                background: $bg-lightblack;
            }
        }
    }
     ::placeholder {
        color: $bg-lightblack;
        font-size: 0.9rem;
        font-weight: 400;
        padding-left: 2vw;
        opacity: 0.7;
        background: $bg-darkgrey;
    }
    .btn-rechercher {
        display: none;
    }
    .btn-icon {
        color: white;
        border: none;
        outline: none;
        background: $bg-gradient;
        border-radius: 0 10px 10px 0;
        border-top: 3px solid $bg-lightgrey;
        border-right: 3px solid $bg-lightgrey;
        border-bottom: 3px solid $bg-lightgrey;
        padding: 1.4vw 1.7vw;
        font: inherit;
    }
}